{% extends 'base.html' %}

{% block content %}

<p class="lead">Hello!</p>

<p>For PyCon 2014 in Montreal I'm presenting a talk on <a href="https://us.pycon.org/2014/schedule/presentation/196/">Free Software/Open Source participation</a>.</p>
<p>Doing my research it occurred to me that here I am, encouraging people to make the plunge in to the FOSS world, yet I didn't have any idea as to what the first experiences of most FOSS developers was like.</p>
<p>"<em>I'm a web developer</em>" I thought "<em>I can just make a website that asks people.</em>", and so here we are!</p>

<p class="lead">Me?</p>
<p>My name is Elena and I'm a humble web developer.</p>
<p>Ever since I first understood what "Open Source" was (years before I wrote my first real line of code) it struck me as extraordinary, like nothing else mankind had ever seen and potentially a tremendous force of good. While I'd always been a geek, for various reasons I didn't participated in the community myself: mainly out of fear and because I was timid but also because I didn't have any idea how the "likes of me" could be part of something like that. So after many years of circling, learning, being gutsy and working hard I'm involved with a range of open source things, and want to try and help others like myself and save them some of the many years I've spent! Hopefully I'm part of the trickle that will become the new flood of new people who are coming to be part of this amazing world.</p>
<p>That's one of my stories. <a href="{%  url 'story_add' %}">I'd love it if you told me one of yours.</a></p>

{% endblock %}
