<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>First Contribution</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
<link href='{{STATIC_URL}}base.css' rel='stylesheet' type='text/css'>
{% block extrahead %}{% endblock %}
</head>

<!-- HTML code from Bootply.com editor -->

<body>
  <div id="body-container">
      <div class="">

        <nav class="navbar" role="navigation">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><h1>First Contribution</h1></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
            </ul>

            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="#">/</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">+<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/about">About</a></li>
                </ul>
              </li>
            </ul>

          </div><!-- /.navbar-collapse -->
        </nav>

      </div>

    <div class="col-lg-6">
      <p class="lead">Share Your Story</p>
      <h3>Share your first Free Software/Open Source contribution experience</h3>
    </div>

    {% block content %}{% endblock %}

  </div>

  <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type='text/javascript' src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

  <!-- JavaScript jQuery code from Bootply.com editor -->
  <script type='text/javascript'>
    $(document).ready(function() {



    });
  </script>
</body>
</html>
