{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load honeypot %}

{% block extrahead %}
<script type="text/javascript" src="{{ STATIC_URL }}ckeditor/ckeditor.js"></script>
{% endblock %}

{% block content %}

<form action="{{ request.path }}" method="post" class="form-inline well">
      <p>Minimal details are required, this is to share annecdotes and experiences so new Free Software contributors can get the idea that everyone started somewhere.</p>
      <hr>
  {% csrf_token %}
  {% crispy form %}
  <fieldset>

    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Save changes</button>
      <button type="reset" class="btn">Cancel</button>
    </div>
  </fieldset>
</form>
<hr>
      <p class="lead">Thank you!</p>
      <p>Identification details are necessary to validate stories and they will be moderated. Any identifying details will not be harvested for use in any other purpose other than the website you see here. Being a jerk will not be tolerated, but a little bit of silliness may be.</p>

{% endblock %}
