{% extends 'base.html' %}

{% block content %}
<h1>Thank you!</h1>
<p>{# The following #}Your submission has been sent off to be curated.</p>
<p><a href="javascript:history.back()">Go back</a> to revise and resubmit it (I'm happy to get multiple submissions and will use the last one submitted), or send an email to: <a href="mailto:firstcontrib@elena.net.au">firstcontrib@elena.net.au</a> for changes.</p>
<p>Your contribution both then and now is deeply valued. Sincerely: Thank you.</p>
{% endblock %}
